@import "https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap";
@import "tailwindcss";

@theme {
  --color-primary: #243c5a;
  --color-secondary: #ccc;

  --font-playwrite: "Playwrite HU", cursive;
}

.brand-button {
  @apply px-3 py-2 rounded-full bg-primary text-white text-sm  transition-all duration-500 border-primary font-playwrite disabled:opacity-60 disabled:cursor-not-allowed;
}
